#!/bin/bash
SHELL=/bin/bash
PATH=/usr/bin
MAILTO=""

{% if yum_update_healthchecksio_token %}
25 1 * * * root yum update -y && curl -fsS --retry 3 https://hc-ping.com/317d76d8-a249-4398-88e0-4916763ee4f9 > /dev/null
{% else %}
25 1 * * * root yum update -y
{% endif %}